
html,body{
    margin: 0px;
    background-color: black;
    color: orange
}

.title{
    text-align: center;
    background-color: orange;
    padding: 50px;
    font-size: 80px;
    color: black;
}

.player-container{
    text-align: center;
}

#buttons-father{

    text-align: center;
    margin-top: 30px;
    
}

#messages{
    margin-top: 180px;
    font-size: 50px;
}


.button{
    margin: 5px;
    padding: 30px;
    font-size: 60px;
    background-color: orange;
    color: black;
    border-radius: 30px;
}

.button:hover{
    background: orangered;
}

#card-container{
    height: 180px;
}


.card{
    position: relative;
    width: 180px;
    left: 10px;
    margin-left: -70px;

}


#player-name{
    font-size: 75px;
}